@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-gradient: #0a0a0a;
  /* Dark background */
}

body {
  background: var(--bg-gradient);
  transition: background 1s ease-in-out;
  color: white;
  overflow-x: hidden;
}

::selection {
  background-color: #D4AF37;
  /* Gold */
  color: black;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}